<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading && errorEvent.err" class="errors_handle">
    <app-notFound *ngIf="errorEvent.err && errorEvent.status==404"></app-notFound>
    <app-notInternet *ngIf="errorEvent.err && (errorEvent.status==0 || errorEvent.status==500)"></app-notInternet>
</div>
<main *ngIf="!loading && !errorEvent.err" [@fadePost]="!this.loading">
    <section class="container-fluid d-none d-md-inline-block w-100 bg-white" (scroll)="onscroll()">
        <div class="row position-relative justify-content-center">
            <div class="col-12 d-inline-block sticky-section bg-white px-5" @slideInOut *ngIf='isShow'>
                <div class="sticky-child row d-flex px-3 align-items-center justify-content-between">
                    <div class="col-8">
                        <div class="row d-flex align-items-center justify-content-start py-2">
                            <div class="col-2 w-custom-logo pe-0">
                                <img (load)="loadImage()" [hidden]="imgLoad == false" *ngIf="magezineDetail?.logo != null" src="{{magezineDetail?.logo}}" alt="{{magezineDetail?.username}}" title="{{magezineDetail?.username}}">
                                <img (load)="loadImage()" [hidden]="imgLoad == false" *ngIf="magezineDetail?.logo == null" src="assets/image/default.jpg" alt="{{magezineDetail?.username}}" title="{{magezineDetail?.username}}">
                            </div>
                            <div class="col-auto">
                                <div class="row gy-0">
                                    <div class="col-12 d-flex align-items-center px-0">
                                        <span class="com-name">{{magezineDetail?.name}} <i *ngIf="magezineDetail?.is_verify==true" class="fas fa-check-circle me-1"></i>
                                            </span>
                                    </div>
                                    <div class="col-12 d-flex align-items-center px-0">
                                        <p class="com-bio">
                                            {{magezineDetail?.slogan}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row d-flex align-items-center justify-content-md-start justify-content-lg-center gx-3 px-1">
                            <div class="vmb col-md-2">
                                <a class="w-100 view-more-btn" mat-raised-button>
                                        بازدید سایت
                                    </a>
                            </div>
                            <div class="vmb col-md-1">
                                <button class="w-100 view-more-btn" mat-raised-button [matMenuTriggerFor]="beforeMenu">
                                        بیشتر
                                    </button>
                                <mat-menu #beforeMenu="matMenu" xPosition="before">
                                    <button mat-menu-item (click)="this.General.share(this.General.CopyMagezine(magezineDetail!.username))">
                                           <mat-icon>share</mat-icon>
                                           <span class="btn-custom">اشتراک گذاری</span>
                                        </button>
                                    <button mat-menu-item [cdkCopyToClipboard]="this.General.CopyMagezine(magezineDetail!.username)" (click)='this.General.openSnackBar("لینک کپی شد","تمام")'>
                                           <mat-icon>content_copy</mat-icon>
                                           <span class="btn-custom">کپی لینک</span>
                                        </button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid overflow-hidden" style="min-height: 1500px;">
        <section class="row d-flex justify-content-center px-0">
            <aside class="col-12 col-lg-8 col-custom-right">
                <div class="row d-flex justify-content-start mx-lg-0">
                    <article class="col-12 bg-white p-0 border-col-setting magezine-article">
                        <div class="row px-0 me-0 w-100">
                            <div class="col-12 w-100 overflow-hidden magezine-parent-banner">
                                <img (load)="loadImage()" [hidden]="imgLoad == false" *ngIf="magezineDetail?.banner !=null" src="{{magezineDetail?.banner}}" title="{{magezineDetail?.name}}" alt="{{magezineDetail?.name}}">
                                <img (load)="loadImage()" [hidden]="imgLoad == false" *ngIf="magezineDetail?.banner ==null" src="assets/image/banner.jpg" title="{{magezineDetail?.name}}" alt="{{magezineDetail?.name}}">
                            </div>
                            <div class="col-12 w-100 magezine-parent-logo">
                                <img (load)="loadImage()" [hidden]="imgLoad == false" *ngIf="magezineDetail?.logo != null" src="{{magezineDetail?.logo}}" title="{{magezineDetail?.name}}" alt="{{magezineDetail?.name}}">
                                <img (load)="loadImage()" [hidden]="imgLoad == false" *ngIf="magezineDetail?.logo == null" src="assets/image/default.jpg" title="{{magezineDetail?.name}}" alt="{{magezineDetail?.name}}">
                            </div>
                            <div class="col-12 w-100 magezine-parent-info">
                                <h1 class="d-flex align-items-center my-0">
                                    <span class="com-name">{{magezineDetail?.name}} <i *ngIf="magezineDetail?.is_verify==true" class="fas fa-check-circle me-1"></i></span>
                                </h1>
                                <p class="bio my-0">{{magezineDetail?.slogan}}
                                </p>
                                <p class="description ps-1 my-0">
                                    {{magezineDetail?.description}}
                                </p>
                            </div>
                            <div class="col-12">
                                <div class="row d-flex align-items-center justify-content-start my-1 px-1 gy-2">
                                    <div class="vmb col-12 col-sm-3 col-md-2">
                                        <a class="w-100 view-more-btn" mat-raised-button>
                                                بازدید سایت
                                            </a>
                                    </div>
                                    <div class="vmb col-12 col-sm-3 col-md-1">
                                        <button class="w-100 view-more-btn" mat-raised-button [matMenuTriggerFor]="beforeMenu">
                                                بیشتر
                                            </button>
                                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                                            <button mat-menu-item (click)="this.General.share(this.General.CopyMagezine(magezineDetail?.username))">
                                                   <mat-icon>share</mat-icon>
                                                   <span class="btn-custom">اشتراک گذاری</span>
                                                </button>
                                            <button mat-menu-item [cdkCopyToClipboard]="this.General.CopyMagezine(magezineDetail?.username)" (click)='this.General.openSnackBar("لینک کپی شد","تمام")'>
                                                   <mat-icon>content_copy</mat-icon>
                                                   <span class="btn-custom">کپی لینک</span>
                                                </button>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab tablist d-flex align-items-center justify-content-srart row py-0 p-2 me-0 w-100">
                            <a class="col-1 py-1 text-center d-flex align-items-center justify-content-center" routerLink="about" routerLinkActive='active_tab' mat-button>درباره</a>
                            <a class="col-1 py-1 text-center d-flex align-items-center justify-content-center" routerLink="negare" routerLinkActive='active_tab' mat-button>پست ها</a>
                        </div>
                    </article>
                    <article class="col-12 mt-4 mb-5 ">
                        <div class="row position-relative ">
                            <div class="col-12 px-lg-0 ">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </article>
                </div>
            </aside>
            <aside class="col-12 col-md-3 col-custom-left ms-1 d-none d-lg-block px-0">
                <div class="row mx-0 w-100">
                    <div class="col-12 p-0">
                        <img (load)="loadImage()" [hidden]="imgLoad == false" src="assets/image/job1.jpg" title="taablighat" alt="taablighat" class="w-100 h-auto image-border">
                    </div>
                </div>
            </aside>
        </section>

    </div>
</main>