@import '../../../assets/scss/base.scss';
.image-border {
    @include borderCustom(7, 1.5);
    padding: 0 !important;
    margin: 0 !important;
}

.magezine-article {
    .magezine-parent-banner {
        position: relative;
        z-index: 45;
        border-radius: 5px;
        width: 100%;
        height: 9rem;
        padding: 0 !important;
        margin: 0 !important;
        overflow: hidden !important;
        @include borderRadiusCustom(7, 7, 0, 0, 0);
        img {
            position: absolute;
            z-index: 45;
            width: 100%;
            height: 100%;
            background-image: url('../../../assets/image/load.gif');
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            padding: 0 !important;
            margin: 0 !important;
            @include borderRadiusCustom(7,
            7,
            0,
            0,
            0);
        }
    }
    .magezine-parent-logo {
        position: relative;
        background-color: rgb(209, 209, 209) !important;
        z-index: 55;
        img {
            @include borderCustom(0,
            3);
            position: absolute;
            background-image: url('../../../assets/image/load.gif');
            z-index: 55;
            right: 20px;
            top: -50px;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }
    .magezine-parent-info {
        margin-top: 60px;
        padding: 0 23px;
        h1 {
            font-size: 1.45rem !important;
            font-weight: 600;
            font-family: vazir !important;
            margin-bottom: 7px !important;
            @media(max-width: 768px) {
                font-size: 1.35rem !important;
            }
            @media(max-width:550px) {
                font-size: 1.2rem !important;
            }
            @media(max-width:425px) {
                font-size: 1.1rem !important;
            }
            .fa-check-circle {
                color: $BlueColor;
                font-size: 1.2rem !important;
                @media(max-width: 768px) {
                    font-size: 1.15rem !important;
                }
                @media(max-width:550px) {
                    font-size: 1.05rem !important;
                }
                @media(max-width:425px) {
                    font-size: 0.95rem !important;
                }
            }
        }
        .bio {
            margin-bottom: 7px !important;
            font-size: 1rem;
            color: $grayColor;
            @media(max-width: 768px) {
                font-size: 0.95rem !important;
            }
            @media(max-width:550px) {
                font-size: 0.85rem !important;
            }
            @media(max-width:425px) {
                font-size: 0.75rem !important;
            }
        }
        .description {
            font-size: 1.1rem;
            margin-bottom: 7px !important;
            line-height: 1.6rem;
            color: rgb(87, 87, 87) !important;
            @media(max-width: 768px) {
                font-size: 1.1rem !important;
            }
            @media(max-width:550px) {
                font-size: 0.98rem !important;
            }
            @media(max-width:425px) {
                font-size: 0.88rem !important;
            }
        }
    }
    .vmb {
        width: 150px !important;
        @media(max-width: 320px) {
            width: 100% !important;
        }
        .view-more-btn {
            @include borderCustom(7,
            0);
            background-color: $BlueColor;
            color: white !important;
            font-size: 17px;
            font-weight: normal !important;
            text-align: center;
            font-family: vazir !important;
            @media(min-width: 768px) {
                transition: all 0.45s;
                &:hover {
                    background-color: #004ef5
                }
            }
        }
    }
}

/////
.post-view {
    mat-icon {
        font-size: 1rem;
        color: #616161;
    }
}